</section>
<footer>
    <div class="nes-container with-title">
        <p class="title">Other tools</p>
        <p><a href="index.html">geode</a> &mdash; <a href="afk.html">afk</a></p>
    </div>
</footer>
<script type="application/russellsprouts-worker"
        data-name="general"
        src="<%= resource('out/worker.js'); %>&deps=<%= encodeURIComponent(resource('third_party/pako/pako.min.js')) %>,<%= encodeURIComponent(resource('out/root.js')) %>"></script>
<script type="text/javascript" src="<%= resource('third_party/three.js/three.min.js'); %>"></script>
<script type="text/javascript" src="<%= resource('third_party/pako/pako.min.js'); %>"></script>
<script type="text/javascript" src="<%= resource('out/root.js'); %>"></script>
<script type="text/javascript" src="<%= resource('out/renderer.js'); %>"></script>
<script type="text/javascript" src="<%= resource(entryPoint); %>"></script>
</body>
</html>